---
import '../styles/navbar.css';
import '@fontsource/plus-jakarta-sans';
---

<div class="Navbar">
    <div class="Navbarbox">
        <div class="Navbarlogo">Ilkomunity</div>
        <div class="Navbartext">
            <ul>
                <li><div class="active">Home</div></li>
                <li>Communities</li>
                <li>Achievement</li>
                <li>Product</li>
                <li>Portofolio</li>    
            </ul>    
        </div>    
    </div>
</div>